body{
	padding: 0;
	overflow: hidden;
}

#container{
	max-width: none;
}

#header{
	line-height: 44px;
	height: 44px;
	text-align: left;
	border-bottom: 1px solid #aaa;
	position: relative;
	z-index: 99;
	background-image: -moz-linear-gradient(top, #fff, #ccc); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ccc)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ccc'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ccc')"; /* IE8 */
}

#header h1{
	margin: 0 0 0 8px;
	font-size: 16px;
	display: inline;
	line-height: 44px;
}

#awesomebar{
	font-size: 16px;
	float: right;
	margin: 8px;
	padding: 3px;
	width: 300px;
}

#menu{
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 0;
	width: 300px;
	overflow: auto;
	overflow-x: hidden;
	background-color: #fff;
}

#menu ul li strong{
	font-size: 12px;
	padding: 2px 10px;
	background-color: #ddd;
	background-image: -moz-linear-gradient(top, #ccc, #ddd); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ccc),color-stop(1, #ddd)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccc', EndColorStr='#ddd'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccc', EndColorStr='#ddd')"; /* IE8 */
}

#menu ul ul{
	margin: 0;
	text-align: left;
}

#menu ul ul li a{
	font-size: 16px;
	padding: 12px 10px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

#menu ul ul li a:hover{
	color: #6B7B95;
}

#menu ul ul li a:active{
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0,.5);
	background-image: -moz-linear-gradient(top, #adb9ce, #98a7c1); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #adb9ce),color-stop(1, #98a7c1)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#adb9ce', EndColorStr='#98a7c1'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#adb9ce', EndColorStr='#98a7c1')"; /* IE8 */
}

#menu ul ul li a.selected{
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0,.5);
	background-image: -moz-linear-gradient(top, #98a7c1, #6b7b95); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98a7c1),color-stop(1, #6b7b95)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#98a7c1', EndColorStr='#6b7b95'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#98a7c1', EndColorStr='#6b7b95')"; /* IE8 */
}

#docs{
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 300px;
	right: 0;
	margin: 0;
	overflow: auto;
	background-color: #fff;
	border-left: 1px solid #aaa;
}

#docs h1{
	margin-top: 25px;
}

.doc{
}

.doc .methods{
	position: fixed;
	top: 89px;
	right: 25px;
	width: 200px;
	height: 360px;
	overflow: hidden;
	background-color: #F4F5F5;
	border: 1px solid #aaa;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	overflow: auto;
	overflow-x: hidden;
	display: none;
}

.doc .content{
	margin: 0;
	border: 0;
}

.methods ul li strong a{
	display: block;
	font-size: 14px;
	padding: 6px 10px;
	background-color: #ddd;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}

.methods ul ul{
	margin: 0;
}

.methods a:hover,
.methods a:active{
	color: #000;
}

.methods ul ul li a{
	font-size: 12px;
	padding: 5px 10px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	display: block;
}

.content p,
.content pre code,
.content ul,
.content ol,
.standardLighter span{
	font-size: 16px;
}

#method-button{
	opacity: .7;
	position: absolute;
	top: 55px;
	right: 25px;
	padding: .4em 1em;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color: #313334;
	border: 1px solid #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: -moz-linear-gradient(top, #fff, #ccc); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ccc)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ccc'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ccc')"; /* IE8 */
}

#method-button:active{
	background-image: -moz-linear-gradient(top, #ddd, #aaa); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ddd),color-stop(1, #aaa)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd', EndColorStr='#aaa'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd', EndColorStr='#aaa')"; /* IE8 */
}