body{
	color: #313334;
	background-color: #F4F5F5;
	text-shadow: 0 1px 0 #fff;
}

body.busy, body.busy *{
	cursor: wait;
}

a{
	color: #6B7B95;
	background-color: transparent;
	text-decoration: underline;
}

a:hover,
a:active{
	color: #E79D35;
	background-color: transparent;
}

pre{
	padding: 5px 7px;
	background-color: #fff;
	border: 1px solid #eee;
	border-width: 1px 0;
	line-height:1.5
}

#container{
	max-width: 80em;
	margin: auto;
}

#header{
	text-align: center;
}

#awesomebar{
	font-size: 2em;
	width: 600px;
	margin: 0 0 1em;
}

ul.awesomebar-list{
	text-shadow: none;
}

#menu{
	float: left;
	width: 150px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li strong{
	display: block;
	border-bottom: 1px solid #ddd;
	font-size: 1.3em;
}

#menu ul ul{
	text-align: right;
	margin: 1em 0;
}

#menu ul ul li{
	display: inline;
}

#menu ul ul li a{
	display: block;
}

#menu a:focus{
	font-weight: bold;
}

#docs{
	margin: 0 0 0 175px;
}

#docs h1, #docs h2{
	padding: 0 0 .3em;
	border-bottom: 1px solid #ddd;
}

#docs h1,
#docs h1 a{
	color: #C17878;
	background-color: transparent;
	text-decoration: none;
}

#docs h2,
#docs h2 a{
	color: #78BA91;
	background-color: transparent;
	text-decoration: none;
}

#docs h1 a:hover,#docs h2 a:hover{
	text-decoration: none;
}

#docs em{
	color: #686C70;
	font-style: normal;
}

.doc .content{
	margin: 0 160px 0 0;
	padding: 0 25px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.doc .methods{
	float: right;
	width: 150px;
}

.methods ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.methods ul li strong{
	font-size: 1.2em;
}

.methods ul ul{
	margin: 1em 0;
}

#loader{
	position: absolute;
	height: 4px;
	width: 0;
	left: 0;
	top: 0;
	background-color: #6B7B95;
	color: transparent;
}